// app global css in SCSS form

.register-form {
    width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('@/css/images/backgroundregister.jpg');
        background-repeat: no-repeat;
         background-size: cover;
}